footer{
    background-color: $color-primario;
    color: $color-secundario;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    a{
        img{
            width: 50px;
    height: 50px;
        }
    }
    p{
        font-size: 25px;
    font-weight: 500;
    }
    div{
        a{
            img{
                width: 50px;
                height: 50px;
            }
        }
    }
}