.jumbotron{
    display: flex;
    justify-content: center;
    align-items:  center;
    background-image: url(../img/sede-centro2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    height: 500px;
    div{
        h1{
            color: aqua;
    font-size: 80px;
    display: inline-block;
    padding: 15px;
    }
    p{
        font-size: 40px;
    color: white;
    margin-bottom: 140px;
    position: relative;
    }
    }
}
.main-sedes{
    text-align: center;
    margin-top: 25px;
    font-size: 40px;
}

.grid-sedes{
    margin-top: 50px;
    margin-bottom: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-template-areas:
    "ubicacion"
    "horario "
    "info"
    ;
    gap: 20px;
}
.ubicacion{
    display: flex;
    grid-area:ubicacion;
    iframe{
        width: 100%;
    }
}
.horario{
    background-color: black;
    grid-area: horario;
    text-align: center;
    color: white;
    
    img{
        width: 500px !important;
        height: auto !important;

    }
    
}
.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    grid-area: info;
    div{
        width: 40%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.178);
    h2{
        margin-bottom: 30px;
    font-size: 30px;
    font-weight: 600px;
    font-style: italic;
    }
    
    h3{
        font-size: 20px;
    }
    }

}    
.img-sedecentro{
    height: 500px !important;
    width: 50% !important;
    
}